@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;

}

:root {
    --bg-color: #111111;
    --second-bg-color: #212121;
    --text-color: #ededed;  
    --main-color:#00abf0;
    --gradient-color: linear-gradient(90deg, #00ccff, #d400d4);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

header.sticky{
    background: var(--bg-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar{
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;

}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;

}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* Home section */

.home{
     display: flex;
     align-items: center;
     padding: 0 9%;
     
     background-size: cover;
     background-position: center;
}

.home-content{
    max-width: 60rem;
    z-index: 99;
}

.home-content  h1 {
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content  h1 span{
    color: var(--text-color);
}

.home-content .text-animate{
    position: relative;
    width: 19rem;/* we can change original is 32.9 or kahi or bhi hange karna padega */
}

.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .1px #a133e0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-repeat: no-repeat;
    -webkit-background-clip : text;
    background-position: -19rem 0;
}

.home.show-animate .home-content .text-animate h3{
    animation: homeBgText 7s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid #a133e0;
    z-index: -1;
    
}

.home.show-animate .home-content .text-animate h3::before{
    animation: homecursorText 7s linear infinite;
    animation-delay: 2s;

}

.home-content p{
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--gradient-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover{
    color: var(--main-color);
}

.btn-box .btn:nth-child(2){
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover{
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before{
    background: var(--gradient-color);
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid #a133e0;
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: var(--bg-color);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--gradient-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
} 

.home-imghover{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;
}

/* src/ModelViewerComponent.css */

/* General Reset for Model Viewer */
model-viewer {
    display: block; /* Ensure the model-viewer takes full width */
}

/* 3D section for #threedd */
#threedd {
    width: 100%; /* Set the width of the section to 100% */
    height: auto; /* Set height to auto to maintain aspect ratio */
    max-width: 700px; /* Limit the maximum width */
    margin-left: 10rem; /* Align to the left */
    background: transparent; /* Match the background with the rest of the page */
    
}




/* Optional: Style for model-viewer itself */
model-viewer {
    width: 100%; /* Take full width of the container */
    height: auto; /* Height auto to maintain aspect ratio */
    margin-left: 15%;
    aspect-ratio: 1; /* Maintain a square aspect ratio */
    
}

@media (max-width: 768px) {
    #threedd {
        display: none; /* Hide the model viewer on mobile devices */
    }
}

/* Media Query for tablet screens */
@media (min-width: 769px) and (max-width: 1024px) {
    #threedd {
        max-width: 100%; /* Full width on tablets */
        max-height: 80vh; /* Use 80% of the viewport height */
    }
}

/* About section */

h3.gg {
    font-size: 3.2rem; /* Adjust font size as needed */
    font-weight: 700; /* Font weight */
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); /* Gradient background */
    -webkit-background-clip: text; /* Clips the background to the text */
    -webkit-text-fill-color: transparent; /* Makes the text color transparent */
}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}
.heading{
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

 span{
    background: linear-gradient(90deg,#00ccff, #d400d4); /* Gradient from blue to pink */
    -webkit-background-clip: text; /* For Safari and Chrome */
    -webkit-text-fill-color: transparent; /* Makes the gradient visible */
    background-clip: text; /* For other browsers */
    color: transparent; /* Fallback color */
}


.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid #00ccff;
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid #d400d4;
    border-right: .2rem solid #d400d4;
    animation: aboutspinner 8s linear infinite;
}

.about-content{
    text-align: center;
}

.about-content h3{
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
}

.about-content p{
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns .btn{
    position: relative;
    width: 20rem;
}
.btn-box.btns{
    display: inline-block;
    width: 20rem;
}

.btn-box.btns a::before{
    background: var(--second-bg-color);
}

/* Services  section */

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    
    padding-bottom: 6rem;
    background-color:var(--bg-color);
  }

  
  
  .heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .heading {
    color: white;
    font-size: 55px;
    
  }
  .heading span {
    font-size: 55px;
    color: var(--main-color);
  }
  
 /* Container for all services-list divs */
.services-list {
    display: flex; /* Flexbox for horizontal alignment */
    justify-content: center; /* Center the boxes */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Allow wrapping if screen is too small */
    gap: 20px; /* Add space between boxes */
    padding: 20px; /* Add padding around the container */
}

/* Individual service box */
.services-list div {
    background-color: transparent;
    padding: 20px; /* Adjust padding */
    font-size: 14px;
    font-weight: 400;
    width: 300px; /* Set a fixed width */
    height: 300px; /* Ensure the box is square */
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #a133e0;
    display: flex;
    flex-direction: column; /* Stack icon, heading, paragraph, and link vertically */
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text inside the box */
}
/* Container for all services-list divs */
.services-list {
    position: relative;
    display: flex; /* Flexbox for horizontal alignment */
    justify-content: center; /* Center the boxes */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Allow wrapping if screen is too small */
    gap: 6rem; /* Set gap to 1rem for space between boxes */
    padding: 20px; /* Add padding around the container */
}




/* Heading (h2) styling */
.services-list div h2 {
    font-size: 1.6rem; /* Adjust for better fit */
    font-weight: 800;
    margin-bottom: 10px;
    color: #00abf0;
}

/* Paragraph styling */
.services-list div p {
    font-size: 1.2rem; /* Adjust font size for fit */
    padding-top: 0.5rem;
    margin: 0 10px; /* Add margin for better spacing */
}

/* Link styling */
.services-list div a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    margin-top: 10px; /* Adjust margin for spacing */
    display: inline-block;
}

  
  .read {
    display: inline-block;
    padding: 12px 20px;
    background: linear-gradient(90deg, #00ccff, #d400d4);;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
  }
  
  .read:hover {
    background: var(--second-bg-color);
    color: white;
    box-shadow: 0 0 30px var(--main-color);
  }
  /* Hover effect for service box */
.services-list div:hover {
    background-color: var(--second-bg-color); /* Slight background color change */
    transform: scale(1.05); /* Slightly enlarge the box */
    box-shadow: 3px 3px 25px var(--main-color); /* Enhance the box-shadow effect */
}

/* Container for all services-list divs */
.services-list {
    position: relative;
    display: flex; /* Flexbox for horizontal alignment */
    justify-content: center; /* Center the boxes */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Allow wrapping if screen is too small */
    gap: 6rem; /* Set gap to 6rem for space between boxes */
    padding: 20px; /* Add padding around the container */
}

/* Styling for the 'read' button hover */
.read:hover {
    background: var(--second-bg-color);
    color: white;
    box-shadow: 0 0 30px var(--main-color);
    transform: scale(1.1); /* Slightly enlarge the button */
}

  /* Education section */

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    background: var(--second-bg-color);
    
    
}


.education .education-row{
    display: flex; 
    flex-wrap: wrap;
    gap: 5rem;
}


.education-row .education-column{
    flex: 1 1 40rem;

}

.education-column .title{
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;

}

.education-column .education-box{
    position: relative;
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: linear-gradient(to right, #00ccff, #d400d4); /* Gradient from blue to pink */
    border-radius: 50%;
}

.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    z-index: 1;
    overflow: hidden;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before{
    width: 100%;
}


.education-content .content .year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}
/* .education-content .content .year {
    font-size: 1.5rem;
    background-image: linear-gradient( #d400d4,#00ccff); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    padding-bottom: .5rem;
}
 */
.education-content .content .year i{
    padding-right: .5rem;
}

.education-content .content h3{
    font-size: 2rem;
}

.education-content .content p{
    font-size: 1.6rem;
    padding-top: .5rem;
}

/* Skills section */

.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--bg-color);
}

.skills h2{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column{
    flex: 1 1 40rem;
}

.skills-column .title{
    position: relative;
    display:inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-column .skills-box{
    position: relative;
}

.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:  0%;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before{
    width: 100%;
}

.skills-content .progress{
    padding: 1rem 0;
}

.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span{
    color: var(--text-color);
}

.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: 0.3rem;
    background: linear-gradient(to right, #00ccff, #d400d4); /* Blue to Pink gradient */
}


.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 75%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 65%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width: 55%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 55%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 55%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 60%;
}

/* Contact section */

.contact{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
    
   
}

@keyframes grow {
    0% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        transform: scale(1);
    }
    100% {
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        transform: scale(1.02);
    }
}

.gmail-icon {
    color: var(--main-color); /* Set color for the Gmail icon */
    font-size: 1.6rem; /* Adjust icon size if needed */
}

.phone-icon {
    color: #4caf50; /* Set color for the Phone icon */
    font-size: 1.5rem; /* Adjust icon size if needed */
}

.extra{
    font-size: 1.6rem;
    position: relative;
    display: inline-block;
    
}
.extra a{
    color: var(--text-color);

}



/* Apply this to input fields on focus */
.contact form .input-box .input-field input:focus,
.contact form .textarea-field textarea:focus {
    animation: grow 0.5s forwards;
}

/* Apply the same animation to buttons on hover */
.contact form .btn-box.btns .btn:hover {
    animation: grow 0.3s forwards;
}

.contact h2{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background:transparent;
    border-radius: .6rem;
    border: .2rem solid #2474dd;
    position: relative;
    z-index: 2;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
    
}


.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    border-radius: .6rem;
    z-index: 1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
    width: 100%;
    
    
}



.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea{
    resize: none;
}


.contact form .btn-box.btns .btn{
    cursor: pointer;
}

/* Chrome, Safari, Edge autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important; /* Transparent background */
    background-clip: border-box !important; /* Apply to the entire input */
    -webkit-text-fill-color: white !important; /* Autofill text color set to white */
    transition: background-color 5000s ease-in-out 0s;
}

/* Firefox autofill */
input:-moz-autofill {
    box-shadow: 0 0 0 1000px transparent inset !important; /* Transparent background */
    background-color: transparent !important; /* Background should remain transparent */
    -webkit-text-fill-color: white !important; /* Set autofill text color to white */
    transition: background-color 5000s ease-in-out 0s;
}



/* Footer section */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text,
.footer-iconTop{
    position: relative;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: linear-gradient(to right, #00ccff, #d400d4); /* Gradient from blue to pink */
    border: .2rem solid var(--main-color); /* Retain existing border color */
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}


.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:  0%;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before{
    width: 100%;
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

/* ANIMATION RELOAD AND SCROLL */
.animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}

.animate.home-img{
    width: 50%;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate{
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll{
    transition: 1s ease;
    transition-delay: calc(.3s / var(--i));
    animation: none;
}

section:nth-child(odd) .animate.scroll,
.footer.animate.scroll{
    background: var(--second-bg-color);
}

.education .education-box .animate.scroll{
    width: 105%;
}

.about.show-animate .animate.scroll,
.services.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.skills.show-animate .animate.scroll,
.contact.show-animate .animate.scroll,
.footer.show-animate .animate.scroll{
    transition-delay: calc(.3s * var(--i));
    width: 0;
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    header {
        padding: 2rem 4%;
    }

    section{
        padding: 10rem  4% 2rem;
    }

    .home{
        padding: 0 4%;
    }

    .footer{
        padding: 2rem 4%;
    }
}

@media (max-width: 850px){
    .animate.home-img{
        width: 55%;
    }
}

@media (max-width: 768px){
    header{
        background: var(--bg-color);
    }

    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: #191919;
        box-shadow: 0 .5rem 1rem rgba(0, 0,0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -1000%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0,0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav{
        
        left: 0;
        transition-delay: .25s;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a{
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home-imghover{
        pointer-events: none;
        background-color: var(--bg-color);
        opacity: .6;
    }
}

@media (max-width: 520px){
    html{
        font-size: 50%;
    }
    
    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .home-sci{
        width: 160px;
    }

    .home-sci a{
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 462px) {
    .home-content h1 {
        font-size: 5.2rem;
    }

    .education{
        padding: 10rem 4% 5rem 5%;
    }

    .services{
        padding: 10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-field{
        width: 100%;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 371px){
    .home {
        justify-content: center;
    }

    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1{
        font-size: 5rem;
    }
}

/* KEYFRAMES ANIMATION*/
@keyframes homeBgText{
    0%,10%,100%{
        background-position: -19rem 0;
    }
    65%,85%{
        background-position: 0 0;
    }
}

@keyframes homecursorText{
    0%,10%,100%{
        width: 0;
    }
    65%,78%,85%{
        width: 100%;
        opacity: 1;
    }
    75%,81%{
        opacity: 0;
    }
}

@keyframes aboutspinner{
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight{
    100%{
        width: 0;
    }
}